
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 0px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #2ab300;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(235, 214, 30, 0.534);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: rgb(255, 255, 255);
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #08979c !important;
}

.setGrid {
  width: 40%
}


.ant-modal-content{
  right: 50% !important;
  top: 50% !important;
  margin-top: 20px !important;
}

.ant-modal-wrap{
  overflow: hidden;
}

.ui-draggable-modal .ant-modal-header{
  cursor: move;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}




